<div class="space-70"></div>
<h3> 最新文章列表 </h3>

<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增文章", new_admin_post_path, class: "btn btn-primary btn-sm") %>
</div>

  <table class="table table-bordered">
  <thead>
    <tr>
      <th width="120">#</th>
      <th width="120">文章標題</th>
      <th width="120">文章內容</th>
      <th width="100"> Options</th>
    </tr>
  </thead>
  <tbody>

    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= post.id %>
        </td>
        <td>
          <%= post.title %>
        </td>
        <td>
          <%= markdown(post.content) %>
        </td>
        <td>
          <%= link_to("編輯", edit_admin_post_path(post)) %>
          <%= link_to("刪除", admin_post_path(post), method: :delete, data: {confirm: "Are you sure?"})%>
      </tr>
    <% end %>

  </tbody>
</table>