<body>
          <section id="content-region-3" class="padding-40 page-tree-bg-about">
            <div class="container">
                <h1 class="page-tree-text">
                    關於我們About us
                </h1>
            </div>
        </section><!--page tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><%=image_tag('about-1.jpg', class:"img-responsive",alt:"一家三口團體照")%></li>
                            <li><%=image_tag('about-4.jpg', class:"img-responsive",alt:"一家三口團體照")%></li>
                            <li><%=image_tag('about-5.jpg', class:"img-responsive",alt:"一家三口")%></li>
                        </ul><!--flex slider-->
                </div>
            </div>
                <div class="col-md-5">
                    <h2 class="heading-mini">關於我們</h2>
                    <h5>
                        <p>
                        因家中的巴戈犬摸摸而和黃醫師成為一家人的店長Cherrie，常為著黃醫師分享醫院中大小事的熱忱而感動。而本身愛狗如命的她在醫院成立之際，也一併把動物旅館設計規劃進品湛動物醫院的體系下。 希望能提供給父母們更完整、便利、安心；毛小孩更貼心、安全、健康又舒服的環境。未來將規劃更多的動物課程，將良好的照顧及正確的觀念分享給更多的爸媽們。
                        </p>
                        <p>
                        一家三口動物旅館成立於2015年10月，位於桃園市桃園區民生路上，一家三口是一間安全、健康、溫暖的動物旅館，在這裡我們提供美容、住宿、及安親的服務。
                        </p>
                    </h5>
                    <br>
                    <h2 class="heading-mini">旅館環境</h2>
                    <h5>
                    <p>為提供給各位飼主（爸媽們）安心健康的環境，我們採用了以下的設備。</p>
                    <ul class="icon-list list-unstyled">
                        <li><i class="ion-checkmark-round"></i> 日本Richell睡床、飲水器、圍籠。</li>
                        <li><i class="ion-checkmark-round"></i>採用日本品牌A.P.D.C全系列商品。</li>
                        <li><i class="ion-checkmark-round"></i>獸醫院專用，美國德瑪沛翠絲清耳液。</li>
                        <li><i class="ion-checkmark-round"></i>天然精油洗劑，不添加人工香精、漂白劑。</li>
                        <li><i class="ion-checkmark-round"></i> Paulwhite負離子吹毛機。</li>
                        <li><i class="ion-checkmark-round"></i> 醫療級光觸媒紫外線空氣清淨機。</li>

                    </ul>
                    </h5>
                </div>
            </div>
        </div>         <!--about company row end-->
        <div class="col-md-12">
                    <h4 class="heading-mini">我們的部門</h4>
                </div>

                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('aboutlife-1.jpg', class:"img-responsive",alt:"醫療部")%>
                        <div class="person-desc">
                            <h3>醫療部</span></h3>

                            <p>
                                醫療部位於動物旅館的1樓，來到我們這的寶貝們不只享受，還能安全健康的回家。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('daycare-1.jpg', class:"img-responsive",alt:"住宿部-狗狗區")%>
                        <div class="person-desc">
                            <h3>住宿部-狗狗區</h3>

                            <p>
                                溫暖的裝潢，繽紛的顏色，更重要的是我們的初衷，安全、像家但是擁有更多同伴。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('hotellife-12.jpg', class:"img-responsive",alt:"住宿部-貓區")%>
                        <div class="person-desc">
                            <h3>住宿部-貓區</h3>

                            <p>
                                獨棟的Villa，我們考慮到貓咪們的習性，讓他來這也能安心地玩耍住宿。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('grooming-3.jpg', class:"img-responsive",alt:"美容部")%>
                        <div class="person-desc">
                            <h3>美容部</h3>

                            <p>
                                專業的美容師團隊，讓你的寶貝們洗完澡後更有自信。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                                <div class="space-70"></div>
        </div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>安全、像家、但是擁有更多同伴。
                    <a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank", class="btn btn-lg btn-black btn-radius" id = "reservation-about">開始預約</a>
                </h3>
            </div>
        </div>
        
        <div class="space-70"></div>
        <section id="content-region-2" class="padding-40 parallax-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="testimonials">
                            <ul class="slides">
                                <li>
                                    <p class="testi-text">這裡的醫師跟人員都超棒超熱心愛護動物，環境又是無與倫比的乾淨，完全沒有去獸醫院的怪味，醫療儀器又完整先進，很開心桃園有如此高水準的獸醫院跟狗spa跟狗旅館。<p>
                                        <span class="testi-person"> 蓬蓬媽媽 留  </span>
                                </li>
                                <li>
                                    <p class="testi-text">"Sed fringilla sem sed massa ullamcorper, vitae rutrum justo sodales. Cras sed iaculis enim. Sed aliquet viverra nisl a tristique. Curabitur vitae mauris sem. Pellentesque iaculis nibh leo, mattis aliquet arcu tincidunt at."<p>
                                        <span class="testi-person">John terry - company inc  </span>
                                </li>
                                <li>
                                    <p class="testi-text">"Cras adipiscing odio nunc, non laoreet urna suscipit ac. Pellentesque congue egestas risus viverra pharetra. Morbi pretium orci magna, vitae mattis nisl viverra eleifend. Vestibulum euismod erat non ligula hendrerit tincidunt."<p>
                                        <span class="testi-person">victoria - company inc </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

<script type="text/javascript">
  var link = document.getElementById("reservation-about");
    analytics.trackLink(link, '表單預約', {
    location: 'Center',
    color: 'blue',
    text: '開始預約',
    CTA: 'form',
    category: 'about page',
    type: 'Button',
    pageTitle: document.title
  });
</script> 