<body>
          <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h1 class="page-tree-text">
                    關於我們About us
                </h1>
            </div>
        </section><!--page tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><%=image_tag('grooming-3.jpg', class:"img-responsive",alt:"安親DAYCARE")%>
                            <li><%=image_tag('hotel-1.jpg', class:"img-responsive",alt:"美容GROOMING")%></li>
                            <li><%=image_tag('hotel-4.jpg', class:"img-responsive",alt:"安親DAYCARE")%></li>
                            <li><%=image_tag('about-2.jpg', class:"img-responsive",alt:"安親DAYCARE")%></li>
                            <li><%=image_tag('about-1.jpg', class:"img-responsive",alt:"安親DAYCARE")%></li>
                            <li><%=image_tag('daycare-3.jpg', class:"img-responsive",alt:"安親DAYCARE")%></li>
                        </ul><!--flex slider-->
                </div>
            </div>
                <div class="col-md-5">
                    <h2 class="heading-mini">關於我們</h2>
                    <h5>
                        <p>
                        因家中摸摸而和黃醫師成為一家人的Cherrie，因為黃醫師分享醫院中大小事的熱忱感動，而本身也愛狗如命的Cherrie在醫院成立之際，也一併把動物旅館設計規劃進品湛動物醫院的體系下。為的是提供給飼主(爸媽們)更完整、便利、安心；毛小孩更貼心、安全、健康、舒服的環境。而未來也會規劃動物照顧課程，將良好的照顧、及正確的觀念帶給更多爸媽們。
                        </p>
                        <p>
                        一家三口動物旅館成立於2015年10月，位於桃園市桃園區民生路上，一家三口是一間安全、健康、溫暖的動物旅館，在這裡我們提供美容、住宿、及安親的服務。
                        </p>
                    </h5>
                    <br>
                    <h2 class="heading-mini">旅館環境</h2>
                    <h5>
                    <p>為提供給各位飼主（爸媽們）安心健康的環境，我們採用了以下的設備。</p>
                    <ul class="icon-list list-unstyled">
                        <li><i class="ion-checkmark-round"></i> 日本Richell睡床、飲水器、圍籠。</li>
                        <li><i class="ion-checkmark-round"></i>採用日本品牌A.P.D.C全系列商品。</li>
                        <li><i class="ion-checkmark-round"></i>獸醫院專用，美國德瑪沛翠絲清耳液。</li>
                        <li><i class="ion-checkmark-round"></i>天然精油洗劑，不添加人工香精、漂白劑。</li>
                        <li><i class="ion-checkmark-round"></i> Paulwhite負離子吹毛機。</li>
                        <li><i class="ion-checkmark-round"></i> 醫療級光觸媒紫外線空氣清淨機。</li>

                    </ul>
                    </h5>
                </div>
        </div>
        </div>         <!--about company row end-->
      <div class="col-md-12">
                    <h4 class="heading-mini">Our team</h4>
                </div>

                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('daycare-3.jpg', class:"img-responsive",alt:"安親DAYCARE")%>
                        <div class="person-desc">
                            <h3>John doe   <span>web designer</span></h3>

                            <p>
                                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </p>
                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('daycare-2.jpg', class:"img-responsive",alt:"安親DAYCARE")%>
                        <div class="person-desc">
                            <h3>John doe   <span>web designer</span></h3>

                            <p>
                                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('daycare-1.jpg', class:"img-responsive",alt:"安親DAYCARE")%>
                        <div class="person-desc">
                            <h3>John doe   <span>web designer</span></h3>

                            <p>
                                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('daycare-4.jpg', class:"img-responsive",alt:"安親DAYCARE")%>
                        <div class="person-desc">
                            <h3>John doe   <span>web designer</span></h3>

                            <p>
                                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                                <div class="space-70"></div>
        </div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>安全、像家、但是擁有更多同伴。
                    <a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank", class="btn btn-lg btn-white btn-radius">開始預約</a>
                </h3>
            </div>
        </div>
    </body>