<body>
          <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h1 class="page-tree-text">
                    安親DayCare
                </h1>
            </div>
        </section><!--page tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><%=image_tag('daycarelife-1.jpg', class:"img-responsive",alt:"一家三口動物旅館安親狗狗玩樂")%>
                            <li><%=image_tag('daycarelife-2.jpg', class:"img-responsive",alt:"一家三口動物旅館安親狗狗玩樂")%></li>
                            <li><%=image_tag('daycarelife-3.jpg', class:"img-responsive",alt:"一家三口動物旅館安親狗狗Richell睡床")%></li>
                            <li><%=image_tag('daycarelife-4.jpg', class:"img-responsive",alt:"一家三口動物旅館安親狗狗玩樂")%></li>
                            <li><%=image_tag('daycarelife-5.jpg', class:"img-responsive",alt:"一家三口動物旅館安親狗狗玩樂")%></li>
                        </ul><!--flex slider-->
                </div>
            </div>
                <div class="col-md-5">
                     <p>
                        一家三口動物旅館提供你溫馨安全的安親時間，讓你家的寶貝玩到開心翻肚肚又可以安心的大睡午覺好時光，只要主人及時需要，我們一直都在。
                    </p>
                    <br>
                    <ul class="icon-list list-unstyled">
                        <li><i class="ion-checkmark-round"></i> 日本Richell睡床、飲水器、圍籠。</li>
                        <li><i class="ion-checkmark-round"></i> 寵物褓姆全天陪伴。</li>
                        <li><i class="ion-checkmark-round"></i> 可選不關籠，提供寵物自由社交、進出房間(大、中、小型犬分區活動)。</li>
                        <li><i class="ion-checkmark-round"></i> 醫療級光觸媒紫外線空氣清淨機。</li>
                    </ul>
                    <h5>第一次來嗎？請詳閱<%= link_to('安親前須知',faqs_path(anchor: "hotelknow")) %> </h5>
                    <h2 class="heading-mini">安親價目表</h2>
                    <h5><div class="table-responsive">          
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>狗狗體型</th>
                            <th>安親6小時</th>
                            <th>安親12小時</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>小型犬 小於9kg</td>
                            <td>NT 300</td>
                            <td>NT 450</td>
                          </tr>
                          <tr>
                            <td>中型犬 &nbsp9-20kg</td>
                            <td>NT 420</td>
                            <td>NT 670</td>
                          </tr>
                          <tr>
                            <td>大型犬 大於20kg</td>
                            <td>NT 600</td>
                            <td>NT 900</td>
                          </tr>
                          <tr>
                            <td>超大型犬 大於40kg</td>
                            <td>NT 800 up</td>
                            <td>NT 1200 up</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                   

                </div></h5>
            </div>
        </div>
            <div class="space-70"></div>
            <div class="col-md-12">
                    <h4 class="heading-mini">安親服務及環境</h4>
                </div>

                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('daycare-1.jpg', class:"img-responsive",alt:"安親DAYCARE")%>
                        <div class="person-desc">
                            <h3>狗狗遊戲區</h3>

                            <p>
                                中小型狗狗們活動的場所，有各式各樣玩具，還有陪伴他度過愉快的時間的同伴們。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('daycare-2.jpg', class:"img-responsive",alt:"安親DAYCARE")%>
                        <div class="person-desc">
                            <h3>澳洲Molly mutt 100%純棉時尚床</h3>

                            <p>
                                molly mutt睡床採用100%純棉布料，提供給狗狗們舒適又透氣的休息空間。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('daycarelife-7.jpg', class:"img-responsive",alt:"安親DAYCARE")%>
                        <div class="person-desc">
                            <h3>陪伴玩具 </h3>

                            <p>
                                讓狗狗們不無聊，我們精心準備許多玩具，讓狗狗們在這空間能充分互動。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('daycare-4.jpg', class:"img-responsive",alt:"安親DAYCARE")%>
                        <div class="person-desc">
                            <h3>醫療級光觸媒紫外線空氣清淨機</h3>

                            <p>
                                讓你的寶貝們能在乾淨空氣中開心玩樂，不用擔心外面的髒空氣。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                       <div class="space-50"></div>
        </div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>不想讓你的寶貝自己在家嗎？
                    <a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank", class="btn btn-lg btn-white btn-radius" id = "reservation-daycare">馬上預約</a>
                </h3>
            </div>
        </div>         <!--about company row end-->
       <div class="space-50"></div>
        <section id="content-region-2" class="padding-40 parallax-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="testimonials">
                            <ul class="slides">
                                <li>
                                    <p class="testi-text">謝謝momo 姐姐陪蓬蓬玩整個下午，他開心的咧，下次姐姐也要在喔！也謝謝所有人員的細心照顧，謝謝喔<p>
                                        <span class="testi-person">蓬蓬媽媽 留  </span>
                                </li>
                                <li>
                                    <p class="testi-text">"一家三口美容真是用心又讚！寶貝洗的好乾淨，還跟安親的店長姐姐玩的好高興，真是的讓媽媽安心的好地方！下次財財還是再來！"<p>
                                        <span class="testi-person">財財媽媽 留  </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!--testimonials section end here-->
    </body>
<script type="text/javascript">
  var link = document.getElementById("reservation-daycare");
    analytics.trackLink(link, '表單預約', {
    location: 'Center',
    color: 'blue',
    text: '開始預約',
    CTA: 'form',
    category: 'daycare page',
    type: 'Button',
    pageTitle: document.title
  });
</script> 