<body>
          <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h1 class="page-tree-text">
                    安親DayCare
                </h1>
            </div>
        </section><!--page tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><%=image_tag('daycare-1.jpg', class:"img-responsive",alt:"一家三口動物旅館環境")%>
                            <li><%=image_tag('daycare-5.jpg', class:"img-responsive",alt:"安親daycare")%></li>
                            <li><%=image_tag('daycare-2.jpg', class:"img-responsive",alt:"Richell睡床、")%></li>
                            <li><%=image_tag('daycare-3.jpg', class:"img-responsive",alt:"Richell飲水器、圍籠")%></li>
                            <li><%=image_tag('daycare-4.jpg', class:"img-responsive",alt:"醫療級光觸媒紫外線空氣清淨機")%></li>
                        </ul><!--flex slider-->
                </div>
            </div>
                <div class="col-md-5">
                    <h3 class="heading-mini">安親價目表</h3>
                    <h6><div class="table-responsive">          
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>狗狗體型</th>
                            <th>安親6小時</th>
                            <th>安親12小時</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>小型犬 小於9kg</td>
                            <td>NT 300</td>
                            <td>NT 450</td>
                          </tr>
                          <tr>
                            <td>中型犬 &nbsp9-20kg</td>
                            <td>NT 420</td>
                            <td>NT 670</td>
                          </tr>
                          <tr>
                            <td>大型犬 大於20kg</td>
                            <td>NT 600</td>
                            <td>NT 900</td>
                          </tr>
                          <tr>
                            <td>超大型犬 大於40kg</td>
                            <td>NT 800 up</td>
                            <td>NT 1200 up</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    <p>
                        一家三口動物旅館秉持著貼心、溫暖、像家：大小細節皆嚴謹的挑選，沒有冰冷鐵籠，提供給寶貝們友善的環境。
                    </p>
                    <br>
                    <ul class="icon-list list-unstyled">
                        <li><i class="ion-checkmark-round"></i> 日本Richell睡床、飲水器、圍籠。</li>
                        <li><i class="ion-checkmark-round"></i> 寵物褓姆全天陪伴。</li>
                        <li><i class="ion-checkmark-round"></i> 可選不關籠，提供寵物自由社交、進出房間(大、中、小型犬分區活動)。</li>
                        <li><i class="ion-checkmark-round"></i> 醫療級光觸媒紫外線空氣清淨機。</li>
                    </ul>
                    <h5>第一次來嗎？請詳閱<%= link_to('我們的相關規定',faqs_path) %> </h5>

                </div></h6>
            </div>
        </div>
                       <div class="space-50"></div>
        </div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>不想讓你的寶貝自己在家嗎？
                    <a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank", class="btn btn-lg btn-white btn-radius">開始預約</a>
                </h3>
            </div>
        </div>         <!--about company row end-->
       <div class="space-50"></div>
        <section id="content-region-2" class="padding-40 parallax-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="testimonials">
                            <ul class="slides">
                                <li>
                                    <p class="testi-text">謝謝momo 姐姐陪蓬蓬玩整個下午，他開心的咧，下次姐姐也要在喔！也謝謝所有人員的細心照顧，謝謝喔<p>
                                        <span class="testi-person">蓬蓬媽媽 留  </span>
                                </li>
                                <li>
                                    <p class="testi-text">"Sed fringilla sem sed massa ullamcorper, vitae rutrum justo sodales. Cras sed iaculis enim. Sed aliquet viverra nisl a tristique. Curabitur vitae mauris sem. Pellentesque iaculis nibh leo, mattis aliquet arcu tincidunt at."<p>
                                        <span class="testi-person">John terry - company inc  </span>
                                </li>
                                <li>
                                    <p class="testi-text">"Cras adipiscing odio nunc, non laoreet urna suscipit ac. Pellentesque congue egestas risus viverra pharetra. Morbi pretium orci magna, vitae mattis nisl viverra eleifend. Vestibulum euismod erat non ligula hendrerit tincidunt."<p>
                                        <span class="testi-person">victoria - company inc </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!--testimonials section end here-->
    </body>