<body>
          <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h1 class="page-tree-text">
                    美容Grooming
                </h1>
            </div>
        </section><!--page tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><%=image_tag('grooming-1.jpg', class:"img-responsive",alt:"grooming美容")%></li>
                             <li><%=image_tag('groominglife-6.jpg', class:"img-responsive",alt:"按摩腳服務")%>
                            <li><%=image_tag('grooming-3.jpg', class:"img-responsive",alt:"美容環境")%></li>
                            <li><%=image_tag('grooming-5.jpg', class:"img-responsive",alt:"美容工作環境")%></li>
                        </ul><!--flex slider-->
                </div>
            </div>
                <div class="col-md-5">
                    <br>
                        <ul class="icon-list list-unstyled">
                        <li><i class="ion-checkmark-round"></i> 使用日本品牌A.P.D.C全系列洗護商品。</li>
                        <li><i class="ion-checkmark-round"></i> 獸醫院專用，美國德瑪沛翠絲清耳液。</li>
                        <li><i class="ion-checkmark-round"></i> 不使用烘箱，全程手工吹乾。</li>
                        <li><i class="ion-checkmark-round"></i> Paulwhite負離子吹毛機。</li>
                        <li><i class="ion-checkmark-round"></i> 醫療級光觸媒紫外線空氣清淨機。</li>
                        <li><i class="ion-checkmark-round"></i> 全程透明化讓爸爸媽媽更安心。</li>

                    </ul>
                    <h5>第一次來嗎？請詳閱<%= link_to('我們的相關規定',faqs_path(anchor: "groomingknow")) %> </h5>
                    <h2 class="heading-mini">美容價目表</h2>
                    <h5>
                        <div class="table-responsive">          
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>狗狗體型</th>
                            <th>基礎美容</th>
                            <th>精緻美容</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>小型犬 小於9kg</td>
                            <td>NT 450 up</td>
                            <td>NT 900 up</td>
                          </tr>
                          <tr>
                            <td>中型犬 &nbsp9-20kg</td>
                            <td>NT 600up</td>
                            <td>NT 1200up</td>
                          </tr>
                          <tr>
                            <td>大型犬 大於20kg</td>
                            <td>NT 900up</td>
                            <td>NT 1200up</td>
                          </tr>
                          <tr>
                            <td>超大型犬 大於40kg</td>
                            <td>現場另行報價</td>
                            <td>現場另行報價</td>
                          </tr>
                        </tbody>
                      </table>
                      <p>*基礎美容、精緻美容皆包含洗澡、護毛、剪指甲、修腳底毛、修腹部毛、修屁股毛、耳朵清潔保養。 </p>
                      </div>


                      <div class="table-responsive">          
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>貓體型</th>
                            <th>基礎美容</th>
                            <th>精緻美容</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>短毛貓 </td>
                            <td>NT 600up</td>
                            <td>NT 1100up</td>
                          </tr>
                          <tr>
                            <td>長毛貓</td>
                            <td>NT 700up</td>
                            <td>NT 1200up</td>
                          </tr>
                        </tbody>
                      </table>
                      <p>*體型僅供參考，依現場毛量及處理細節實際報價。 </p>
                      </div>
                    
                </h5>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>         <!--about company row end-->
        <div class="space-30"></div>
            <div class="col-md-12">
                    <h4 class="heading-mini">美容服務及環境</h4>
                </div>

                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('groominglife-5.jpg', class:"img-responsive",alt:"A.P.D.C全系列商品")%>
                        <div class="person-desc">
                            <h3>使用A.P.D.C全系列商品</h3>

                            <p>
                                A.P.D.C洗護產品皆來自澳洲植物原料，日本製造的天然有機洗劑，具有溫和香味不刺激，讓寶貝享受安全舒適的沐浴時光。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('groominglife-3.jpg', class:"img-responsive",alt:"溫馨等待區")%>
                        <div class="person-desc">
                            <h3>溫馨等待區</h3>

                            <p>
                                透明溫馨的等待區，讓爸媽們一目了然我們專業美容師的美容過程，讓爸媽們安心等待。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('grooming-4.jpg', class:"img-responsive",alt:"美容等待區")%>
                        <div class="person-desc">
                            <h3>美容等待區</span></h3>

                            <p>
                               寶貝們等待美容或是洗完香香等待爸媽來的區域，使用溫暖的木頭及玻璃，讓寶貝們在這無壓力。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('groominglife-1.jpg', class:"img-responsive",alt:"Paulwhite負離子吹毛機")%>
                        <div class="person-desc">
                            <h3>Paulwhite負離子吹毛機</span></h3>

                            <p>
                                不使用烘箱，美容師使用負離子吹毛機手工吹乾，讓你家的寶貝洗完後毛髮保濕更柔順。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>

        <div class="space-50"></div>
        </div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>專業的美容師，讓寶貝們更有自信。
                    <a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank", class="btn btn-lg btn-white btn-radius" id = "reservation-grooming">馬上預約</a>
                </h3>
            </div>
        </div>
       <div class="space-50"></div>
        <section id="content-region-2" class="padding-40 parallax-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="testimonials">
                            <ul class="slides">
                                <li>
                                    <p class="testi-text">妮妮在這邊洗澡眼睛回去都不會紅紅的喔! 感覺洗劑真的很天然比較不會刺激眼睛，而且毛髮也越洗越柔亮了!<p>
                                        <span class="testi-person"> 妮妮哥哥 留  </span>
                                </li>
                                <li>
                                   <p class="testi-text">一家三口美容真是用心又讚！寶貝洗的好乾淨，還跟安親的店長姐姐玩的好高興，真是的讓媽媽安心的好地方！下次財財還是再來！<p>
                                        <span class="testi-person">財財媽媽 留  </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!--testimonials section end here-->
    </body>
<script type="text/javascript">
  var link = document.getElementById('reservation-grooming');
    analytics.trackLink(link, '表單預約', {
    location: 'Center',
    color: 'blue',
    text: '馬上預約',
    CTA: 'form',
    category: 'grooming Page',
    type: 'Button',
    pageTitle: document.title
  });
</script> 