<body>
          <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h1 class="page-tree-text">
                    美容Grooming
                </h1>
            </div>
        </section><!--page tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><%=image_tag('grooming-1.jpg', class:"img-responsive",alt:"grooming美容")%></li>
                             <li><%=image_tag('grooming-2.jpg', class:"img-responsive",alt:"日本品牌A.P.D.C")%>
                            <li><%=image_tag('grooming-3.jpg', class:"img-responsive",alt:"美容環境")%></li>
                           <li><%=image_tag('grooming-4.jpg', class:"img-responsive",alt:"不使用烘箱，全程手工吹乾。")%></li>
                            <li><%=image_tag('grooming-5.jpg', class:"img-responsive",alt:"美容工作環境")%></li>
                        </ul><!--flex slider-->
                </div>
            </div>
                <div class="col-md-5">
                    <h2 class="heading-mini">美容價目表</h2>
                    <h5>
                        <div class="table-responsive">          
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>狗狗體型</th>
                            <th>基礎美容</th>
                            <th>精緻美容</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>小型犬 小於9kg</td>
                            <td>NT 450 up</td>
                            <td>NT 900 up</td>
                          </tr>
                          <tr>
                            <td>中型犬 &nbsp9-20kg</td>
                            <td>NT 600up</td>
                            <td>NT 1200up</td>
                          </tr>
                          <tr>
                            <td>大型犬 大於20kg</td>
                            <td>NT 900up</td>
                            <td>NT 1200up</td>
                          </tr>
                          <tr>
                            <td>超大型犬 大於40kg</td>
                            <td>現場另行報價</td>
                            <td>現場另行報價</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                      <div class="table-responsive">          
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>貓體型</th>
                            <th>基礎美容</th>
                            <th>精緻美容</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>短毛貓 </td>
                            <td>NT 600</td>
                            <td>NT 1100</td>
                          </tr>
                          <tr>
                            <td>長毛貓</td>
                            <td>NT 700</td>
                            <td>NT 1200</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    <br>
                        <ul class="icon-list list-unstyled">
                        <li><i class="ion-checkmark-round"></i> 採用日本品牌A.P.D.C全系列商品。</li>
                        <li><i class="ion-checkmark-round"></i> 獸醫院專用，美國德瑪沛翠絲清耳液。</li>
                        <li><i class="ion-checkmark-round"></i> 不使用烘箱，全程手工吹乾。</li>
                        <li><i class="ion-checkmark-round"></i> Paulwhite負離子吹毛機。</li>
                        <li><i class="ion-checkmark-round"></i> 醫療級光觸媒紫外線空氣清淨機。</li>
                        <li><i class="ion-checkmark-round"></i> 全程透明化讓爸爸媽媽更安心。</li>

                    </ul>
                    <h5>第一次來嗎？請詳閱<%= link_to('我們的相關規定',faqs_path) %> </h5>
                </h5>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>         <!--about company row end-->
        <div class="space-50"></div>
        </div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>專業的美容師，讓寶貝們更有自信。
                    <a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank", class="btn btn-lg btn-white btn-radius">開始預約</a>
                </h3>
            </div>
        </div>
       <div class="space-50"></div>
        <section id="content-region-2" class="padding-40 parallax-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="testimonials">
                            <ul class="slides">
                                <li>
                                    <p class="testi-text">謝謝momo 姐姐陪蓬蓬玩整個下午，他開心的咧，下次姐姐也要在喔！也謝謝所有人員的細心照顧，謝謝喔<p>
                                        <span class="testi-person">蓬蓬媽媽 留  </span>
                                </li>
                                <li>
                                    <p class="testi-text">"Sed fringilla sem sed massa ullamcorper, vitae rutrum justo sodales. Cras sed iaculis enim. Sed aliquet viverra nisl a tristique. Curabitur vitae mauris sem. Pellentesque iaculis nibh leo, mattis aliquet arcu tincidunt at."<p>
                                        <span class="testi-person">John terry - company inc  </span>
                                </li>
                                <li>
                                    <p class="testi-text">"Cras adipiscing odio nunc, non laoreet urna suscipit ac. Pellentesque congue egestas risus viverra pharetra. Morbi pretium orci magna, vitae mattis nisl viverra eleifend. Vestibulum euismod erat non ligula hendrerit tincidunt."<p>
                                        <span class="testi-person">victoria - company inc </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!--testimonials section end here-->
    </body>