<body>
          <section id="content-region-3" class="padding-40 page-tree-bg-grooming">
            <div class="container">
                <h1 class="page-tree-text">
                    美容Grooming
                </h1>
            </div>
        </section><!--page tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><%=image_tag('grooming-1.jpg', class:"img-responsive",alt:"grooming寵物美容")%></li>

                            <li><%=image_tag('grooming-3.jpg', class:"img-responsive",alt:"寵物美容環境")%></li>
                             <li><%=image_tag('groominglife-6.jpg', class:"img-responsive",alt:"寵物按摩腳服務")%>
                            <li><%=image_tag('groominglife-10.jpg', class:"img-responsive",alt:"寵物貓美容")%></li>
                            <li><%=image_tag('groominglife-8.jpg', class:"img-responsive",alt:"寵物狗美容")%></li>
                            <li><%=image_tag('groominglife-9.jpg', class:"img-responsive",alt:"寵物狗美容")%></li>
                        </ul><!--flex slider-->
                </div>
            </div>
                <div class="col-md-5">
                     <p>
                         每次寶貝洗澡都是一場抗拒及激烈的大戰嗎? 我們是最溫柔的美容spa沙龍，講究每一道程序，要求最完美的服務，寶貝回家後，都能期待下回的美容時光。
                    </p>
                    <br>
                        <ul class="icon-list list-unstyled">
                        <li><i class="ion-checkmark-round"></i> 專業認證的美容師。</li>
                        <li><i class="ion-checkmark-round"></i> 日本品牌A.P.D.C全系列洗護商品。</li>
                        <li><i class="ion-checkmark-round"></i> 獸醫院專用，美國德瑪沛翠絲清耳液。</li>
                        <li><i class="ion-checkmark-round"></i> 不使用烘箱，全程手工吹乾。</li>
                        <li><i class="ion-checkmark-round"></i> Paulwhite負離子吹毛機。</li>
                        <li><i class="ion-checkmark-round"></i> 醫療級光觸媒紫外線空氣清淨機。</li>
                        <li><i class="ion-checkmark-round"></i> 全程透明化讓爸爸媽媽更安心。</li>

                    </ul>
                    <h5>第一次來嗎？請詳閱<%= link_to('美容Q&A',faqs_path(anchor: "groomingknow")) %> </h5>
                    <h2 class="heading-mini">美容價目表</h2>

                    <h5>
                        <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>狗狗體型</th>
                            <th>基礎美容</th>
                            <th>精緻美容</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>小型犬 小於9kg</td>
                            <td>NT 450起</td>
                            <td>NT 900起</td>
                          </tr>
                          <tr>
                            <td>中型犬 &nbsp9.1-20kg</td>
                            <td>NT 600起 </td>
                            <td>NT 1200起 </td>
                          </tr>
                          <tr>
                            <td>大型犬 &nbsp20~40kg</td>
                            <td>NT 1000-2000起 </td>
                            <td>NT 2000-4000起 </td>
                          </tr>
                          <tr>
                            <td>超大型犬 大於40kg</td>
                            <td>現場另行報價，需事先預約</td>
                            <td>現場另行報價，需事先預約</td>
                          </tr>
                        </tbody>
                      </table>

                      </div>


                      <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>貓體型</th>
                            <th>基礎美容</th>
                            <th>精緻美容</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>短毛貓 </td>
                            <td>NT 600起</td>
                            <td>NT 1100起</td>
                          </tr>
                          <tr>
                            <td>長毛貓</td>
                            <td>NT 700起</td>
                            <td>NT 1200起</td>
                          </tr>
                        </tbody>
                      </table>

                      </div>
                      </h5>
                    <p>基礎美容及精緻美容包含:</p><p>除垢清潔、深層清潔、深層護毛、剪指甲、修腳底毛、修腹部毛、修屁股毛、擠肛門腺及外耳清潔保養、拔耳毛、手工毛髮吹整等11道程序。</p>
                      <p>體型僅供參考，依現場毛量及處理細節實際報價。 </p>

            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>         <!--about company row end-->
        <div class="space-30"></div>
            <div class="col-md-12">
                    <h4 class="heading-mini">美容服務及環境</h4>
                </div>

                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('groominglife-5.jpg', class:"img-responsive",alt:"A.P.D.C全系列商品")%>
                        <div class="person-desc">
                            <h3>A.P.D.C全系列商品</h3>

                            <p>
                                A.P.D.C洗護產品皆來自澳洲植物原料，日本製造的天然有機洗劑，具有溫和香味不刺激，讓寶貝享受安全舒適的沐浴時光。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('groominglife-1.jpg', class:"img-responsive",alt:"Paulwhite負離子吹毛機")%>
                        <div class="person-desc">
                            <h3>Paulwhite負離子吹毛機</span></h3>

                            <p>
                                不使用烘箱，美容師使用負離子吹毛機手工吹乾，讓寶貝美容後毛髮保濕更柔順。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('groominglife-7.jpg', class:"img-responsive",alt:"美國德瑪沛翠絲清耳液")%>
                        <div class="person-desc">
                            <h3>美國德瑪沛翠絲清耳液</span></h3>

                            <p>
                               獸醫院專用醫療級清耳液，保護孩子敏感的耳朵，確實幫主人做到檢查耳道清潔的步驟。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>

                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('groominglife-3.jpg', class:"img-responsive",alt:"寵物溫馨等待區")%>
                        <div class="person-desc">
                            <h3>溫馨等待區</h3>

                            <p>
                                透明溫馨的等待區，爸媽能一目了然寶貝的美容過程，安心等待。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>


       <div class="space-50"></div>
        <section id="content-region-2" class="padding-40 parallax-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="testimonials">
                            <ul class="slides">
                                <li>
                                    <p class="testi-text">妮妮在這邊洗澡眼睛回去都不會紅紅的喔! 感覺洗劑真的很天然比較不會刺激眼睛，而且毛髮也越洗越柔亮了!<p>
                                        <span class="testi-person"> 妮妮哥哥 留  </span>
                                </li>
                                <li>
                                   <p class="testi-text">一家三口美容真是用心又讚！寶貝洗的好乾淨，還跟安親的店長姐姐玩的好高興，真是的讓媽媽安心的好地方！下次財財還是再來！<p>
                                        <span class="testi-person">財財媽媽 留  </span>
                                </li>
                                <li>
                                   <p class="testi-text">真的很開心找到一家三口，讓我能安心帶他們來美容，在這裡的美容師和保姆姊姊都對旺旺和Teddy很溫柔，以前送去美容都會害怕發抖，現在要接回家都一副不想走了！<p>
                                        <span class="testi-person">旺旺、Teddy媽媽 留  </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!--testimonials section end here-->
        <div class="space-50"></div>
        </div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>專業的美容師，讓寶貝更有自信。
                    <a href="tel:(03)3363252", class="btn btn-lg btn-black btn-radius" id = "reservation-grooming">馬上預約</a>
                </h3>
            </div>
        </div>
    </body>
<script type="text/javascript">
  var link = document.getElementById('reservation-grooming');
    analytics.trackLink(link, '表單預約', {
    location: 'Center',
    color: 'blue',
    text: '馬上預約',
    CTA: 'form',
    category: 'grooming Page',
    type: 'Button',
    pageTitle: document.title
  });
</script>