<body>
          <section id="content-region-3" class="padding-40 page-tree-bg-hotel">
            <div class="container">
                <h1 class="page-tree-text">
                    住宿Hotel
                </h1>
            </div>
        </section><!--page tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><%=image_tag('hotel-3.jpg', class:"img-responsive",alt:"一家三口寵物住宿")%></li>
                             <li><%=image_tag('hotellife-15.jpg', class:"img-responsive",alt:"寵物狗房")%>
                            <li><%=image_tag('hotellife-14.jpg', class:"img-responsive",alt:"寵物狗狗玩樂時間")%>
                            <li><%=image_tag('hotellife-16.jpg', class:"img-responsive",alt:"寵物狗狗玩耍")%></li>
                            <li><%=image_tag('hotellife-17.jpg', class:"img-responsive",alt:"寵物狗狗玩耍")%></li>
                            <li><%=image_tag('hotellife-3.jpg', class:"img-responsive",alt:"寵物一家三口後花園")%></li>
                            <li><%=image_tag('hotellife-1.jpg', class:"img-responsive",alt:"寵物散步時間")%></li>


                            <li><%=image_tag('hotellife-13.jpg', class:"img-responsive",alt:"寵物貓房環境")%></li>
                            <li><%=image_tag('hotellife-6.jpg', class:"img-responsive",alt:"寵物貓房環境")%></li>



                        </ul><!--flex slider-->
                </div>
            </div>
                <div class="col-md-5">
                 <p>
                        一家三口動物旅館秉持著貼心、溫暖、像家的理念，大小細節皆嚴謹的挑選，沒有冰冷鐵籠，提供給寶貝們友善的環境。
                    </p>
                    <br>
                    <ul class="icon-list list-unstyled">
                        <li><i class="ion-checkmark-round"></i> 日本Richell睡床、飲水器、圍籠。</li>
                        <li><i class="ion-checkmark-round"></i> 寵物褓姆全天陪伴。</li>
                        <li><i class="ion-checkmark-round"></i> 可選不關籠，提供寵物自由社交、進出房間(大、中、小型犬分區活動)</li>
                        <li><i class="ion-checkmark-round"></i> 溫馨散步時間(依照住宿時間)</li>
                        <li><i class="ion-checkmark-round"></i> 醫療級光觸媒紫外線空氣清淨機</li>
                        <li><i class="ion-checkmark-round"></i> 每日詳細的褓母日誌，詳細記錄理學檢查 如體重、心跳、溫度。</li>

                    </ul>
                    <h5>第一次來嗎？請詳閱<%= link_to('住宿前須知',faqs_path(anchor: "hotelknow")) %> </h5>
                   <h2 class="heading-mini">住宿價目表</h2>
                    <h5><div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>狗狗體型</th>
                            <th>住宿Boarding(24小時)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>體重 小於6KG</td>
                            <td>NT 600起</td>
                          </tr>
                          <tr>
                            <td>體重 &nbsp6-10KG</td>
                            <td>NT 700起</td>
                          </tr>
                          <tr>
                            <td>體重  &nbsp10-15KG</td>
                            <td>NT 800起</td>
                          </tr>
                          <tr>
                            <td>體重  &nbsp15-20KG</td>
                            <td>NT 900起</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                 <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>貓住宿</th>
                            <th>全棟villa房(24hr)</th>
                            <th>第二隻共住一間房(24hr)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>貓 </td>
                            <td>NT 900</td>
                            <td>NT 450</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                  </h5>

                </div>
            </div>
        </div>
            <div class="space-30"></div>
            <div class="col-md-12">
                    <h4 class="heading-mini">住宿服務及環境</h4>
                </div>
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                      <%=image_tag('hotellife-10.jpg', class:"img-responsive",alt:"寵物狗狗房")%>
                        <div class="person-desc">
                            <h3>中小狗房</span></h3>

                            <p>
                                中小型狗狗住的地方，溫暖舒適的環境，是你出門在外放心的地方。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('hotellife-8.jpg', class:"img-responsive",alt:"寵物大狗區")%>
                        <div class="person-desc">
                            <h3>大狗房</span></h3>

                            <p>
                                大型狗狗住的地方，舒適乾淨的活動空間，提供獨棟單人房，給害怕與其他狗狗相處的寶貝，也可當作家庭套房。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                       <%=image_tag('hotellife-9.jpg', class:"img-responsive",alt:"寵物貓房")%>
                        <div class="person-desc">
                            <h3>貓咪房</span></h3>

                            <p>
                                獨棟的Villa，考量貓咪的習性，讓怕生的貓咪擁有最安心自在的環境。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('hotellife-5.jpg', class:"img-responsive",alt:"寵物貓咪散步區")%>
                        <div class="person-desc">
                            <h3>貓咪散步時光</h3>

                            <p>
                                每天輪流讓住在這的貓咪出來散步，享受探索環境的樂趣。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                <div class="col-md-12">
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('hotellife-2.jpg', class:"img-responsive",alt:"寵物24hr錄影")%>
                        <div class="person-desc">
                            <h3>24小時溫馨連線</h3>

                            <p>
                                出門在外想要看看你家寶貝嗎？我們提供24小時視訊，隨時都可連線觀看。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>

                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('hotellife-7.jpg', class:"img-responsive",alt:"寵物保姆日誌")%>
                        <div class="person-desc">
                            <h3>保姆日誌</span></h3>

                            <p>
                                詳細的保姆日誌，仔細紀錄寶貝的生活及生理狀況。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                       <%=image_tag('daycarelife-3.jpg', class:"img-responsive",alt:"日本Richell寵物睡床")%>
                        <div class="person-desc">
                            <h3>日本Richell睡床</span></h3>

                            <p>
                                日本Richell睡床，睡墊蓬鬆柔軟，讓寶貝睡得舒服。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                      <%=image_tag('aboutlife-2.jpg', class:"img-responsive",alt:"日本Richell寵物飲水器")%>
                        <div class="person-desc">
                            <h3>日本Richell飲水器</span></h3>

                            <p>
                                日本Richell飲水器，讓寶貝喝水時不會沾到下巴，小地方我們依然很用心。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
            <div class="col-md-12">
                </div>
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                      <%=image_tag('daycare-4.jpg', class:"img-responsive",alt:"寵物醫療級光觸媒紫外線空氣清淨機")%>
                        <div class="person-desc">
                            <h3>醫療級光觸媒紫外線空氣清淨機</span></h3>

                            <p>
                                有效去除空氣中的懸浮微粒及污染物，讓寶貝能在乾淨空氣中開心玩樂，不用擔心外面的髒空氣。

                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('hotellife-3.jpg', class:"img-responsive",alt:"寵物一家三口後花園")%>
                        <div class="person-desc">
                            <h3>專屬小花園</span></h3>

                            <p>
                                專屬的戶外空間提供玩耍、互動，強調「乾淨、安全、安心」，適合習慣在室外上廁所的寶貝，擔心外出風險的爸爸媽媽可放100%的心 。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                       <%=image_tag('hotellife-18.jpg', class:"img-responsive",alt:"愛惠浦美國原廠EVERPURE淨水器")%>
                        <div class="person-desc">
                            <h3>台灣愛惠浦美國原廠EVERPURE淨水器</span></h3>

                            <p>
                                呵護寶貝安親、住宿期間的飲水健康，爸媽安心無牽掛。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('hotellife-19.jpg', class:"img-responsive",alt:"光能淨《光觸媒》天然寵物地板清潔劑")%>
                        <div class="person-desc">
                            <h3>光能淨《光觸媒》天然寵物地板清潔劑</h3>

                            <p>
                                運用室內光線去除有害物質，天然物質成分，無氯、無磷、無溶劑、無香精、無螢光劑、無壬基酚、對人體及寶貝無害，爸媽更安心。

                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
      <!--about company row end-->
       <div class="space-50"></div>
        <section id="content-region-2" class="padding-40 parallax-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="testimonials">
                            <ul class="slides">
                                <li>
                                    <p class="testi-text">謝謝momo 姐姐陪蓬蓬玩整個下午，他開心的咧，下次姐姐也要在喔！也謝謝所有人員的細心照顧，謝謝喔<p>
                                        <span class="testi-person">蓬蓬媽媽 留  </span>
                                </li>
                                <li>
                                   <p class="testi-text">一家三口美容真是用心又讚！寶貝洗的好乾淨，還跟安親的店長姐姐玩的好高興，真是的讓媽媽安心的好地方！下次財財還是再來！<p>
                                        <span class="testi-person">財財媽媽 留  </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!--testimonials section end here-->
    <div class="space-50"></div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>安全、像家、但是擁有更多同伴。
                    <a href="tel:(03)3363252", class="btn btn-lg btn-black btn-radius" id = "reservation-hotel">開始預約</a>
                </h3>
            </div>
        </div>
    </body>

<script type="text/javascript">
  var link = document.getElementById('reservation-hotel');
    analytics.trackLink(link, '表單預約', {
    location: 'Center',
    color: 'blue',
    text: '開始預約',
    CTA: 'form',
    category: 'Hotel Page',
    type: 'Button',
    pageTitle: document.title
  });
</script>