<body>
          <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h1 class="page-tree-text">
                    住宿Hotel
                </h1>
            </div>
        </section><!--page tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><%=image_tag('hotel-3.jpg', class:"img-responsive",alt:"一家三口住宿")%></li>
                             <li><%=image_tag('hotel-1.jpg', class:"img-responsive",alt:"狗房")%>
                            <li><%=image_tag('hotellife-1.jpg', class:"img-responsive",alt:"散步時間")%></li>
                           <li><%=image_tag('hotellife-3.jpg', class:"img-responsive",alt:"一家三口後花園")%></li>
                            <li><%=image_tag('hotellife-4.jpg', class:"img-responsive",alt:"貓房環境")%>
                            <li><%=image_tag('hotellife-6.jpg', class:"img-responsive",alt:"貓房環境")%></li>
                            
                            
                        </ul><!--flex slider-->
                </div>
            </div>
                <div class="col-md-5">
                 <p>
                        一家三口動物旅館秉持著貼心、溫暖、像家：大小細節皆嚴謹的挑選，沒有冰冷鐵籠，提供給寶貝們友善的環境。
                    </p>
                    <br>
                    <ul class="icon-list list-unstyled">
                        <li><i class="ion-checkmark-round"></i> 日本Richell睡床、飲水器、圍籠。</li>
                        <li><i class="ion-checkmark-round"></i> 寵物褓姆全天陪伴。</li>
                        <li><i class="ion-checkmark-round"></i> 可選不關籠，提供寵物自由社交、進出房間(大、中、小型犬分區活動)</li>
                        <li><i class="ion-checkmark-round"></i> 溫馨散步時間(依照住宿時間)</li>
                        <li><i class="ion-checkmark-round"></i> 醫療級光觸媒紫外線空氣清淨機</li>
                        <li><i class="ion-checkmark-round"></i> 每日詳細的褓母日誌，詳細記錄理學檢查 如體重、心跳、溫度。</li>

                    </ul>
                    <h5>第一次來嗎？請詳閱<%= link_to('住宿前須知',faqs_path(anchor: "hotelknow")) %> </h5>
                   <h2 class="heading-mini">住宿價目表</h2>
                    <h5><div class="table-responsive">          
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>狗狗體型</th>
                            <th>住宿Boarding(24小時)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>小型犬 小於9kg</td>
                            <td>NT 600</td>
                          </tr>
                          <tr>
                            <td>中型犬 &nbsp9-20kg</td>
                            <td>NT 900</td>
                          </tr>
                          <tr>
                            <td>大型犬 大於20kg</td>
                            <td>NT 1400</td>
                          </tr>
                          <tr>
                            <td>超大型犬 大於40kg</td>
                            <td>NT 1700 up</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                 <div class="table-responsive">          
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>貓住宿</th>
                            <th>全棟villa房(24hr)</th>
                            <th>第二隻共住一間房(24hr)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>貓 </td>
                            <td>NT 750</td>
                            <td>NT 350</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                  </h5>

                </div>
            </div>
        </div>
            <div class="space-30"></div>
            <div class="col-md-12">
                    <h4 class="heading-mini">住宿服務及環境</h4>
                </div>
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                      <%=image_tag('hotellife-10.jpg', class:"img-responsive",alt:"狗狗房")%>
                        <div class="person-desc">
                            <h3>狗狗房</span></h3>

                            <p>
                                中小型狗狗住的地方，溫暖舒適的環境，是你出門在外放心的地方。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('hotellife-8.jpg', class:"img-responsive",alt:"大狗區")%>
                        <div class="person-desc">
                            <h3>大狗房</span></h3>

                            <p>
                                大型狗狗住的地方，乾淨安全的環境，一樣是你出門在外放心的地方。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                       <%=image_tag('hotellife-9.jpg', class:"img-responsive",alt:"貓房")%>
                        <div class="person-desc">
                            <h3>貓房</span></h3>

                            <p>
                                獨棟villa，不用擔心與其他貓咪們同住，給你家怕生的貓咪最安心自在的環境。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('hotellife-5.jpg', class:"img-responsive",alt:"貓咪散步區")%>
                        <div class="person-desc">
                            <h3>貓咪散步時光</h3>

                            <p>
                                每天我們會輪流讓住在這的貓咪出來散步，讓他享受探索環境的樂趣。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                <div class="col-md-12">
                </div>
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('hotellife-2.jpg', class:"img-responsive",alt:"24hr錄影")%>
                        <div class="person-desc">
                            <h3>24小時監視錄影</h3>

                            <p>
                                出門在外想要看看你家寶貝嗎？我們提供你24小時監視錄影，隨時都可連線觀看。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                        <%=image_tag('hotellife-7.jpg', class:"img-responsive",alt:"保姆日誌")%>
                        <div class="person-desc">
                            <h3>保姆日誌</span></h3>

                            <p>
                                詳細的保姆日誌，仔細紀錄你們寶貝的狀況，讓你出門在外也能像在他身邊。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
                <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                       <%=image_tag('daycarelife-3.jpg', class:"img-responsive",alt:"日本Richell睡床")%>
                        <div class="person-desc">
                            <h3>日本Richell睡床</span></h3>

                            <p>
                                日本Richell睡床，睡墊蓬鬆柔軟，讓你的寶貝睡得舒服。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div><!--person col end-->
                 <div class="col-md-3 col-sm-6 margin-btm-20">
                    <div class="person-section">
                      <%=image_tag('aboutlife-2.jpg', class:"img-responsive",alt:"日本Richell飲水器")%>
                        <div class="person-desc">
                            <h3>日本Richell飲水器</span></h3>

                            <p>
                                日本Richell飲水器，讓你的寶貝們喝水時不會沾到下巴，小地方我們依然很用心。
                            </p>
                        </div>
                    </div><!--person section end-->
                </div>
          <div class="space-70"></div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>安全、像家、但是擁有更多同伴。
                    <a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank", class="btn btn-lg btn-white btn-radius" id = "reservation-hotel">開始預約</a>
                </h3>
            </div>
        </div>         <!--about company row end-->
       <div class="space-50"></div>
        <section id="content-region-2" class="padding-40 parallax-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="testimonials">
                            <ul class="slides">
                                <li>
                                    <p class="testi-text">謝謝momo 姐姐陪蓬蓬玩整個下午，他開心的咧，下次姐姐也要在喔！也謝謝所有人員的細心照顧，謝謝喔<p>
                                        <span class="testi-person">蓬蓬媽媽 留  </span>
                                </li>
                                <li>
                                   <p class="testi-text">一家三口美容真是用心又讚！寶貝洗的好乾淨，還跟安親的店長姐姐玩的好高興，真是的讓媽媽安心的好地方！下次財財還是再來！<p>
                                        <span class="testi-person">財財媽媽 留  </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!--testimonials section end here-->
    </body>

<script type="text/javascript">
  var link = document.getElementById('reservation-hotel');
    analytics.trackLink(link, '表單預約', {
    location: 'Center',
    color: 'blue',
    text: '開始預約',
    CTA: 'form',
    category: 'Hotel Page',
    type: 'Button',
    pageTitle: document.title
  });
</script> 