    <body>
        <section id="slider-sec" class="slider-reg">
            <div class="main-flex-slider">
                <ul class="slides">
                    <li>
                        <figure>
                            <%=image_tag('slider-1.jpg', class:"img-responsive",alt:"安親DAYCARE")%>
                            <figcaption class="slider-overlay ">
                                <div class="slider-text animated fadeInDown">
                                    <h1><%= link_to('安親DAYCARE',daycare_path) %></h1>
                                    <p>不想讓你的寶貝自己在家嗎？</p>
                                    <p class="slide-btn">
                                    <%= link_to('瞭解更多',daycare_path, class: 'btn btn-white btn-lg', id: 'knowmore')%>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <%=image_tag('slider-3.jpg', class:"img-responsive",alt:"住宿HOTEL")%>
                            <figcaption class="slider-overlay">
                                <div class="slider-text">
                                    <h1><%= link_to('住宿HOTEL',hotel_path) %></h1>
                                   <p>安全、像家、但是擁有更多同伴。</p>
                                    <p class="slide-btn"><%= link_to("瞭解更多", hotel_path,
                                        class: "btn btn-white btn-lg", id: 'knowmore')%></p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <%=image_tag('slider-2.jpg', class:"img-responsive",alt:"美容GROOMING")%>
                            <figcaption class="slider-overlay">
                                <div class="slider-text">
                                    <h1><%= link_to('美容GROOMING',grooming_path) %></h1>
                                    <p>專業的美容師，讓寶貝們更有自信。</p>
                                    <p class="slide-btn"><%= link_to("瞭解更多", grooming_path,
                                        class: "btn btn-white btn-lg", id: 'knowmore')%></p>
                            
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </section><!--main flex slider end-->
        <div class="space-70"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-sec">服務項目</h2>
                </div>
            </div><!--row-->
            <div class="row">
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">           
                                <%= link_to image_tag('service-1.jpg', class:"img-responsive",alt:"寵物安親Daycare"),daycare_path %>
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">安親DAYCARE</h4>
                            <span class="portfolio-post-cat">讓你的毛小孩們有個愉快的時間</span>
                            <h4><%= link_to("瞭解更多", daycare_path,class: "btn theme-btn-default btn-lg")%></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                                <%= link_to image_tag('service-2.jpg', class:"img-responsive",alt:"寵物住宿pethotel"), hotel_path %>
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">住宿HOTEL</h4>
                            <span class="portfolio-post-cat">提供給你最舒適及最安心的環境</span>
                            <h4><%= link_to("瞭解更多", hotel_path,class: "btn theme-btn-default btn-lg")%></h4> 
                        </div>
                    </div>
                </div><!--portfolio item -->
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">
                                <%= link_to image_tag('service-3.jpg', class:"img-responsive",alt:"寵物美容grooming"), grooming_path %>
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">美容SPA</h4>
                            <span class="portfolio-post-cat">使用APDC沐浴乳及全程手工吹整毛髮，讓寶貝們洗個舒適。</span>
                            <h4><%= link_to("瞭解更多", grooming_path,class: "btn theme-btn-default btn-lg")%></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->
           </div><!--row portfolio item-->
        </div><!--recent work container end-->
        <div class="space-70"></div>
       <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading-sec">最新消息</h3>
                </div>
            </div><!--row-->
            <div class="row">
                <% @posts.first(3).each do |post| %>
                <div class="col-md-4 col-sm-6 margin-btm-20">
                    <div class="news-sec">
                        <div class="news-thumnail">
                            <h4 class="blog-post-title">
                                <%=link_to(post.title, post_path(post))%>
                            </h4>
                            <span class="news-post-cat"><%= post.created_at.strftime("%B %d, %Y") %></span>
                            <p><%= markdown(post.content) %></p>
                        </div>
                    </div>
                </div><!--latest news items-->
                <% end %>
            </div><!--row end-->
        </div><!--container recent news end-->

                <div class="space-70"></div>
        <section id="content-region-2" class="padding-40 parallax-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="testimonials">
                            <ul class="slides">
                                <li>
                                    <p class="testi-text">這裡的醫師跟人員都超棒超熱心愛護動物，環境又是無與倫比的乾淨，完全沒有去獸醫院的怪味，醫療儀器又完整先進，很開心桃園有如此高水準的獸醫院跟狗spa跟狗旅館。<p>
                                        <span class="testi-person">蓬蓬媽媽 留  </span>
                                </li>
                                <li>
                                    <p class="testi-text">一家三口美容真是用心又讚！寶貝洗的好乾淨，還跟安親的店長姐姐玩的好高興，真是的讓媽媽安心的好地方！下次財財還是再來！<p>
                                        <span class="testi-person">財財媽媽 留  </span>
                                </li>
                                <li>
                                    <p class="testi-text">妮妮在這邊洗澡眼睛回去都不會紅紅的喔! 感覺洗劑真的很天然比較不會刺激眼睛，而且毛髮也越洗越柔亮了!<p>
                                        <span class="testi-person"> 妮妮哥哥 留  </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!--testimonials section end here--> 
                            <div class="space-50"></div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>貼心、溫暖、像家。 
                    <a href="https://linyoga.typeform.com/to/Cry25x" target = "_blank" class="btn btn-lg btn-white btn-radius" id = "reservation1">立即預約</a>
                </h3>
            </div>
        </div>
    </body>
<script type="text/javascript">
  var link = document.getElementById('reservation1');
    analytics.trackLink(link, '表單預約', {
    location: 'Center',
    color: 'blue',
    text: '開始預約',
    CTA: 'form',
    category: 'Home Page',
    type: 'Button',
    pageTitle: document.title
  });
  var link2 = document.getElementById('knowmore');
    analytics.trackLink(link2, '瞭解更多', {
    location: 'Center',
    color: 'blue',
    text: '瞭解更多',
    CTA: 'phone',
    category: 'Home Page',
    type: 'Button',
    pageTitle: document.title
  });
</script>  
