    <body>
        <section id="slider-sec" class="slider-reg">
            <div class="main-flex-slider">
                <ul class="slides">
                    <li>
                        <figure>
                            <%=image_tag('slider-1.jpg', class:"img-responsive",alt:"安親DAYCARE")%>
                            <figcaption class="slider-overlay ">
                                <div class="slider-text animated fadeInDown">
                                    <h1>安親DAYCARE</h1>
                                    <h3>不想讓你的寶貝自己在家嗎？</h3>
                                    <p class="slide-btn"><a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank", class="btn btn-white btn-lg">馬上預約</a></p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <%=image_tag('slider-3.jpg', class:"img-responsive",alt:"住宿HOTEL")%>
                            <figcaption class="slider-overlay">
                                <div class="slider-text">
                                    <h1>住宿HOTEL</h1>
                                   <h3>安全、像家、但是擁有更多同伴。</h3>
                                    <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">預約專線</a></p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <%=image_tag('slider-2.jpg', class:"img-responsive",alt:"美容GROOMING")%>
                            <figcaption class="slider-overlay">
                                <div class="slider-text">
                                    <h1>美容GROOMING</h1>
                                    <h3>專業的美容師，讓寶貝們更有自信。</h3>
                                    <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">瞭解更多</a></p>
                            
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </section><!--main flex slider end-->
        <div class="space-70"></div><div class="space-30"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-sec">服務項目</h2>
                </div>
            </div><!--row-->
            <div class="row">
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">             
                                <%=image_tag('service-1.jpg', class:"img-responsive",alt:"寵物安親Daycare")%>
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">安親DAYCARE</h4>
                            <span class="portfolio-post-cat">讓你的毛小孩們有個愉快的時間</span>
                            <h4><%= link_to("瞭解更多", daycare_path,class: "btn theme-btn-default btn-lg")%></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">
                                <%=image_tag('service-2.jpg', class:"img-responsive",alt:"寵物住宿pethotel")%>
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">住宿HOTEL</h4>
                            <span class="portfolio-post-cat">提供給你最舒適及最安心的環境</span>
                            <h4><a href="portfolio-single.html" class="btn theme-btn-default btn-lg">瞭解更多</a></h4>      
                        </div>
                    </div>
                </div><!--portfolio item -->
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">
                                <%=image_tag('service-3.jpg', class:"img-responsive",alt:"寵物美容grooming")%>
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">美容SPA</h4>
                            <span class="portfolio-post-cat">使用純天然茶樹精油洗浴乳，讓寶貝們洗個舒適。</span>
                            <h4><a href="portfolio-single.html" class="btn theme-btn-default btn-lg">瞭解更多</a></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->
           </div><!--row portfolio item-->
        </div><!--recent work container end-->
        <div class="space-70"></div>

        <section id="content-region-2" class="padding-40 parallax-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="testimonials">
                            <ul class="slides">
                                <li>
                                    <p class="testi-text">謝謝momo 姐姐陪蓬蓬玩整個下午，他開心的咧，下次姐姐也要在喔！也謝謝所有人員的細心照顧，謝謝喔<p>
                                        <span class="testi-person">蓬蓬媽媽 留  </span>
                                </li>
                                <li>
                                    <p class="testi-text">"Sed fringilla sem sed massa ullamcorper, vitae rutrum justo sodales. Cras sed iaculis enim. Sed aliquet viverra nisl a tristique. Curabitur vitae mauris sem. Pellentesque iaculis nibh leo, mattis aliquet arcu tincidunt at."<p>
                                        <span class="testi-person">John terry - company inc  </span>
                                </li>
                                <li>
                                    <p class="testi-text">"Cras adipiscing odio nunc, non laoreet urna suscipit ac. Pellentesque congue egestas risus viverra pharetra. Morbi pretium orci magna, vitae mattis nisl viverra eleifend. Vestibulum euismod erat non ligula hendrerit tincidunt."<p>
                                        <span class="testi-person">victoria - company inc </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!--testimonials section end here-->
        <div class="space-70"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading-sec">最新消息</h3>
                </div>
            </div><!--row-->
            <div class="row">
                <% @posts.first(3).each do |post| %>
                <div class="col-md-4 col-sm-6 margin-btm-20">
                    <div class="news-sec">
                        <div class="news-thumnail">
                            <h4 class="blog-post-title">
                                <%=link_to(post.title, post_path(post))%>
                            </h4>
                            <span class="news-post-cat"><%= post.created_at.strftime("%B %d, %Y") %></span>
                            <p><%= markdown(post.content) %></p>
                        </div>
                    </div>
                </div><!--latest news items-->
                <% end %>
            </div><!--row end-->
        </div><!--container recent news end-->
        <div class="space-50"></div>
        </div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>貼心、溫暖、像家
                    <a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank", class="btn btn-lg btn-white btn-radius">開始預約</a>
                </h3>
            </div>
        </div>
    </body>

