        <footer id="footer-option">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 margin-btm-20">
                        <div class="footer-col margin-btm-20">
                            <h3> recent Instagram</h3>
                            <div class = "flexslider">
                                <ul class = "slides">
                            <% @photos.each do |photo| %>
                            <li><%= image_tag(photo.images.standard_resolution.url, :class => "img-responsive") %>
                                <p class = "flex-caption">
                                   <% if photo.caption %>
                                   <%= photo.caption.text %>
                                   <% else %>
                                    <%=  %></p>
                                    <% end %>
                            <% end %>
                                </ul>
                            </div>
                            </div>
                    </div><!--footer col end-->
                    <div class="col-md-4 margin-btm-20">
                        <div class="footer-col">
                         <h3>Facebook</h3>
                                <div class="fb-page" data-href="https://www.facebook.com/Elite.AH" data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Elite.AH"><a href="https://www.facebook.com/Elite.AH">品湛動物醫院 Elite Animal Hospital / 一家三口動物旅館 Going Home Animal Casa</a></blockquote></div></div>
                        </div>
                        
                    </div><!--footer col end-->
                    <div class="col-md-4 margin-btm-20">
                     <div class="footer-col margin-btm-20">
                        <div itemscope itemtype="http://schema.org/LocalBusiness">
                            <h3>contact info</h3>
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <p><i class="ion-home"></i>
                            <span itemprop="addressLocality">桃園市</span>
                            <span itemprop="streetAddress">桃園區民生路495號之9 </span>
                            </p>
                        </div> 
                            <p><i class="ion-ios-location-outline"><a href="https://goo.gl/maps/aG9WhkB8BAn" target="_blank">&nbsp取得前往路線</i></a></p>
                            <p><i class="ion-iphone"><span itemprop="telephone"><a href="tel:(03)3363252">&nbsp&nbsp預約專線：03-3363252</i></span></a></p>

                            <p><i class="ion-email"><a href="mailto:elite.eah@gmail.com" itemprop="email"></i>&nbspE-mail：elite.eah@gmail.com</a></p>
                            <p><i class="ion-ios-time-outline"></i><meta itemprop="openingHours" content="Mo-Su 9:30-22:00">&nbsp營業時間：24小時保母駐館，每日9:30 ~ 22:00 開放參觀</p>
                            <p><i class="ion-ios-paw-outline"></i>桃市特寵業字第411號</png>
                        </div>
                    </div>    
                     </div><!--footer col end-->
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 footer-logo">
                            <%=link_to image_tag("home_white.png", alt: "一家三口動物旅館",:class => 'img-responsive'), root_path%>
                        </div>
                        <div class="col-md-5">
                            <p>&copy; copyright 2015.一家三口動物旅館 all right reserved</p>
                        </div>
                        <div class="col-md-6 ">
                            <ul class="list-inline footer-nav">
                                <li><%= link_to("Home", root_path)%></li>
                                <li><%= link_to("安親", daycare_path,) %></li>
                                <li><%= link_to("住宿", hotel_path,) %></li>
                                <li><%= link_to("美容", grooming_path,) %></li>
                                <li><%= link_to("問與答", faqs_path,) %></li>
                                <li><a href="https://linyoga.typeform.com/to/Cry25x", target = "_blank">預約</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!--#footer option end-->