<!DOCTYPE html>
<html>
<head>
  <%= render_page_title_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= render :partial => "common/segment_io" %>
  <%= render :partial => "common/zopin" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<meta property="og:title" content="寵物安親｜寵物住宿｜寵物美容 | 一家三口動物旅館" />
<meta property="og:site_name" content="寵物安親｜寵物住宿｜寵物美容 | 一家三口動物旅館" />
<meta property="og:url" content="https://ghanimalcasa.com" />
<meta property="og:image" content="https://ghanimalcasa.com/assets/slider-1-39293d93df1a77f97296e69a1f9abbba7ee71c396d975e1cfb7413b678202f99.jpg" />
<meta property="og:description" content=" 一家三口動物旅館成立於2015年10月，位於桃園市桃園區民生路上，一家三口是一間安全、健康、溫暖的動物旅館，在這裡提供寵物美容、寵https://ghanimalcasa.com/assets/slider-1-39293d93df1a77f97296e69a1f9abbba7ee71c396d975e1cfb7413b678202f99.jpg物住宿、寵物安親的服務。地址：桃園市桃園區民生路495號之9 33043，電話是03-3363252，email：elite.eah@gmail.com" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <html lang="zh">
</head>
<body>
  <%= render :partial => "common/myfont" %>
  <div class= "container-fluid">
    <%= render "common/navbar" %>
    <%= notice_message %>
    <div class="pull-right" style="padding-bottom: 20px;">
    <% if user_signed_in? %>
  <%= link_to "更改密碼", edit_user_registration_path %>
  <%= link_to("登出", destroy_user_session_path, :method => :delete) %>
  <% else %>
  <%= link_to('登入', new_user_session_path) %>
  <% end %>
</div>
  <%= yield %>
</div>
<%= render "common/footer" %>
<%= javascript_include_tag "application" %>

  <%= yield :javascripts %>
         <!--scripts-->
        <script src="/js/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/js/modernizr.custom.97074.js"></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/js/jquery.easing.1.3.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script type='text/javascript' src='/js/jquery.placeholder.min.js'></script>
        <script src="/js/jquery.sticky.js" type="text/javascript"></script>
        <script src="/js/jquery.flexslider-min.js" type="text/javascript"></script>
        <script src="/js/jquery.mixitup.min.js" type="text/javascript"></script>
        <script src="/js/parallax.min.js" type="text/javascript"></script>
        <script src="/js/wow.min.js" type="text/javascript"></script>
        <script src="/js/app.js" type="text/javascript"></script>
        <script src="/js/mailchimp-custom.js" type="text/javascript"></script>
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>